body {
    padding-bottom: 82px; //Header of the footer
}

.footer {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    color: #9d9d9d;
    position: fixed;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

.footer a,
.footer a:hover {
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}