body {
    padding-bottom: 102px; //Header of the footer
}

.footer {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    color: #9d9d9d;
    position: fixed;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

.thumbnail .gallery-img {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 55%;
}

.gallery-img-container-gridview{
    width:350px;
    height: 350px;
}

.gallery-img-container-listview{
    width:auto;
    height: 350px;
}

.gallery-content-gridview{
    position: absolute;
    bottom: 10px;
}

.footer a,
.footer a:hover {
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}

#logout-btn {
    display: none;
}

#display-name {
    display: none;
    color: #9d9d9d;
    margin-right: 10px;
}

.dropdown {
    margin-bottom: 15px;
}

h1 {
   margin-top: 0;
}

.preview-logo {
    background-color: rgb(217, 89, 89);
    overflow: hidden;
    width: 250px;
    height: 250px;
}

.textPreview {
    font-size: 16px;
    color: #fff;
}

.k-slider {
    width: 100%;
}

.border-box {
    box-sizing: border-box;
}

.imageGallery {
    margin: 0 auto 20px;
    width: 93%;
}

.imageGallery .col-md-1 {
    padding: 0;
}

.imageGallery .thumbnail {
    margin-bottom: 0;
}

.textPreview span,
.imagePreview img {
    cursor: move;
}

.list-group-item > .badge {
    background: rgb(217, 89, 89);
    cursor: pointer;
}

/*.fb-like {*/
    /*transform: scale(1.7);*/
    /*-webkit-transform: scale(1.7);*/
    /*-moz-transform: scale(1.7);*/
    /*-ms-transform: scale(1.7);*/
    /*margin-right: 20px;*/
/*}*/

