<div class="jumbotron">
    <h1>Who are we?</h1>

    <p>We are a tight group of professionals dedicated to make the web a more user friendly place</p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <img src="..." alt="picture of team memeber">

            <div class="caption">
                <h3>Iliana Bobeva</h3>

                <p>Student at Telerik Academy 2015/2016</p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="thumbnail">
            <img src="..." alt="picture of team memeber">

            <div class="caption">
                <h3>Ivaylo Rankov</h3>

                <p>Student at Telerik Academy 2015/2016</p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="thumbnail">
            <img src="..." alt="picture of team memeber">

            <div class="caption">
                <h3>Lubomir Svilenov</h3>

                <p>Student at Telerik Academy 2015/2016</p>
            </div>
        </div>

    </div>
    <div class="col-md-12">
        <div class="thumbnail">
            <img class='about-photo' src="https://telerikacademy.com/Content/Avatars/026/19026_959f019e_180x180.jpg" alt="picture of team memeber">

            <div class="caption">
                <h3>Pavel Pavlov</h3>

                <p>Student at Telerik Academy 2015/2016</p>
            </div>
        </div>
    </div>
</div>
