{{#if isLoggedInUser}}
    <div class="row">
        <div class="col-md-6">
            <div id="preview" class="preview-logo">

            </div>
        </div>
        <div class="col-md-6">
            <div id="tabstrip">
                <ul>
                    <li class="k-state-active">Background</li>
                    <li>Images</li>
                    <li>Text</li>
                </ul>
                <div id="backround">
                    <div id="background" class="picker"></div>
                </div>

                <div id="images">

                </div>

                <div id="text">

                </div>
            </div>
        </div>
    </div>
{{else}}
    <div class="alert alert-danger" role="alert">Only registered users can create logos!</div>
{{/if}}