{{#if isLoggedInUser}}
    <div class="row">
        <div class="col-md-6">
            <div id="preview" class="preview-logo background-layer">
                <div id="textPreviewer" class="textPreview"></div>
                <div id="imagePreviewer"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="tabstrip">
                <ul>
                    <li class="k-state-active">Logo Sizes</li>
                    <li>Background</li>
                    <li>Images</li>
                    <li>Text</li>
                    <li>Item List</li>
                </ul>
                <div id="sizeTab">
                    <h3>Width</h3>
                    <br />
                    <input id="widthSlider" />
                    <br/><br/><br/>

                    <h3>Height</h3>
                    <br />
                    <input id="heightSlider" />
                    <br /><br /><br />
                </div>

                <div id="backroundTab">
                    <h3>Change Background</h3>
                    <div id="backgroundPicker" />
                </div>

                <div id="imagesTab">
                    <h3>Image</h3>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-primary" id="addImage">Add Image</button>

                </div>

                <div id="textTab">
                    <h3>Type Text</h3>
                    <p>
                        <input type="text" class="form-control border-box" id="textInput" />
                    </p>

                    <h3>Change font-size</h3>
                    <p>
                        <input id="changeFontNumeric" />
                    </p>

                    <h3>Change font-color</h3>
                    <p>
                        <input id="changeFontColor" />
                    </p>
                    <button class="btn btn-primary" id="addText">Add text</button>
                </div>

                <div id="listTab">
                    <h3>Item List</h3>
                    <div id="itemList"></div>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <div class="alert alert-danger" role="alert">Only registered users can create logos!</div>
{{/if}}