<div class="row">
    <div class="col-md-1">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                Sort by
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="dropdown-menu-sort" aria-labelledby="dropdownMenu1">
                <li><a href="#">Name of author</a></li>
                <li><a href="#">Name of logo</a></li>
                <li><a href="#">Latest additions</a></li>
                <li><a href="#">Oldest additions</a></li>
                <li><a href="#">Logo rank</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-10">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                Category
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="dropdown-menu-category" aria-labelledby="dropdownMenu2">
                <li><a href="#">Something</a></li>
                <li><a href="#">Some other thing</a></li>
                <li><a href="#">Banana</a></li>
                <li><a href="#">Can logos have categories?</a></li>
                <li><a href="#">Testestestestest</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-1 text-right">
        <button class="btn btn-default" type="button" id="grid-btn">
            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
        </button>
    </div>
</div>


<div class="sub-container">
    <div class="row">
        {{#if this}}
        {{#each this}}
        <div class="col-md-4 logos">
            <div class="thumbnail gallery gallery-img-container-gridview">
                <a href="{{this.src}}" data-lightbox="gallery" data-title="{{this.info}}">
                    <img src='{{this.src}}' alt="logo" class="gallery-img">
                </a>

                <div class="caption text gallery-content">
                    <h3>{{this.author}}</h3>

                    <p>{{this.info}}</p>

                    <p>
                        <a href="#" class="btn btn-primary" role="button">Like</a>
                        <a href="{{this.src}}" class="btn btn-primary" role="button">Download</a>
                    </p>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div>Cannot find files</div>
        {{/if}}
    </div>
</div>
