<div class="dropdown" style ='z-index: 5'>
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Sort by
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Name of author</a></li>
        <li><a href="#">Name of logo</a></li>
        <li><a href="#">Latest additions</a></li>
        <li><a href="#">Oldest additions</a></li>
        <li><a href="#">Logo rank</a></li>
    </ul>
</div>
<div class="sub-container">
<div class="row">
    {{#if this}}
        {{#each this}}
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src= '{{this.src}}' alt="logo" class="gallery-img">

                    <div class="caption">
                        <h3>{{this.author}}</h3>

                        <p>{{this.info}}</p>

                        <p>
                            <a href="#" class="btn btn-primary" role="button">Like</a>
                            <a href="{{this.src}}" class="btn btn-primary" role="button" download>Download</a>
                        </p>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div>Cannot find files</div>
    {{/if}}
    </div>
</div>