{{#if isLoggedInUser}}
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        FB = null;
        var js, fjs = d.getElementsByTagName(s)[0];
        //if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=514076418757174";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!--<script>-->
<!--$(window).bind("load", function() {-->
<!--$.getScript('scripts/utils/social.js', function() {});-->
<!--});-->
<!--</script>-->
<div class="row">
    <div class="col-md-1">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                Sort by
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="dropdown-menu-sort" aria-labelledby="dropdownMenu1">
                <li><a href="#">Name of author</a></li>
                <li><a href="#">Name of logo</a></li>
                <li><a href="#">Latest additions</a></li>
                <li><a href="#">Oldest additions</a></li>
                <li><a href="#">Logo rank</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-10">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                Category
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="dropdown-menu-category" aria-labelledby="dropdownMenu2">
                <li><a href="#">Something</a></li>
                <li><a href="#">Some other thing</a></li>
                <li><a href="#">Banana</a></li>
                <li><a href="#">Can logos have categories?</a></li>
                <li><a href="#">Testestestestest</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-1 text-right">
        <button class="btn btn-default" type="button" id="grid-btn">
            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
        </button>
    </div>
</div>

<div class="sub-container">
    <div class="row">
        {{#if logos}}
        {{#each logos}}
        <div class="col-md-4 logos" id="{{this.Id}}">
            <div class="thumbnail gallery gallery-img-container-gridview">
                <a href="{{this.Uri}}" data-lightbox="gallery" data-title="{{this.Description}}">
                    <img src='{{this.Uri}}' alt="logo" class="logo-img gallery-img-gridview">
                </a>

                <div class="caption text gallery-content-gridview">
                    <h3>{{this.OwnerName}}</h3>

                    <p>{{this.Description}}</p>

                    <p>
                    <div class="row">
                        {{#if ../isInGallery}}
                        <div class="col-md-2">
                            <a href="{{this.Uri}}" class="btn btn-primary" role="button">Download</a>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-primary fake-btn"></button>
                        </div>
                        <div class="fb-like" data-href="{{this.Uri}}" data-layout="button"
                             data-action="like" data-show-faces="false" data-share="false">
                        </div>
                        {{else}}
                        <a href="{{this.Id}}" data-id="{{this.Id}}" class="btn btn-danger" role="button">Delete</a>
                        {{/if}}
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div>Cannot find files</div>
        {{/if}}
    </div>
</div>
{{else}}
<div class="alert alert-danger" role="alert">Only registered users can see their logos!</div>
{{/if}}
